@charset "utf8";
html {
    width: 375px;
    height: 812px;
    background: #fff;
    font-family: SimSun;
    color: #707070;
}

h1 {
    font-size: 4em;
}

.agree {
    width: 275px;
    height: 75px;
    border-radius: 37.5px;
    background: #fff;
    border: 1px solid #707070;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    color: #707070;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    /* 縦方向中央揃え（Safari用） */
    align-items: center;
    /* 縦方向中央揃え */
    -webkit-justify-content: center;
    /* 横方向中央揃え（Safari用） */
    justify-content: center;
    /* 横方向中央揃え */
}

.number {
    width: 52px;
    height: 51px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #707070;
    -webkit-align-items: center;
    /* 縦方向中央揃え（Safari用） */
    align-items: center;
    /* 縦方向中央揃え */
    -webkit-justify-content: center;
    /* 横方向中央揃え（Safari用） */
    justify-content: center;
    /* 横方向中央揃え */
}